@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	font-size: 16px;

	--font-primary: 'Roboto', Arial, sans-serif;
	
  --button: #FF0000;
  --main-background: #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: var(--font-primary);
	background-color: var(--main-background);
}

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}