@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	font-size: 16px;

	--font-primary: 'Roboto', Arial, sans-serif;
	
  --button: #FF0000;
  --button-text: #fff;
  --main-background: #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: var(--font-primary);
	background-color: var(--background);
}

.container {
  position: relative;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 3.75rem 0;
}

.header__logo img {
  width: 52px;
}

.header__nav {
  width: 50%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.header__search {
  position: relative;
  width: 220px;
}

.search__input {
  width: 100%;
  height: 44px;
  padding-left: 44px;
  border: none;
  border-radius: none;
  background-color: var(--button-text);
}

.search__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: url(../assets/svg/icon-search.svg);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 37.5%;
  padding: 0 4.5rem 0 6.875rem;
}

.product__title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.375rem;
}

.product__description {
  color: var(--text-description);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.product__price {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.product__buy {
  color: var(--button-text);
  width: 274px;
  height: 90px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  border: none;
  background-color: var(--button);
  cursor: pointer;
}

.main__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62.5%;
  padding: 10.625rem 1.125rem 2.5rem;
  background-color: var(--main-background);
}

.product__image-amplified {
  cursor: pointer;
}

.product__gallery {
  display: flex;
  justify-content: center;
  gap: 2.25rem;
}

.product__image {
  width: 33%;
  cursor: pointer;
}

.product__image-active {
  border-bottom: 5px solid var(--button);
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 166px;
}

.footer__social {
  flex-grow: 2;
}

.footer__social ul {
  display: flex;
  justify-content: space-around;
}

.social__link {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: var(--footer);
}

.footer__explore a {
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .875rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}