@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	font-size: 16px;
	
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: var(--page-background);
}