@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --profile-border: #00FF00;
}

html {
	font-family: 'Merriweather Sans', Arial, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	background-color: var(--body-bg-color);
}

.container {
	display: flex;
	gap: 3.75rem;
	max-width: 1440px;
	margin: 0 auto;
	padding: 2.5rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 25%;
	min-width: 18.75rem;
}

.title__primary {
	color: var(--text-color);
	font-size: 1.4375rem;
	font-weight: 700;
}

.title__secondary {
	color: var(--text-color);
	font-size: 1.25rem;
	font-weight: 700;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 3rem 3rem 3rem;
	background-color: var(--bg-cards);
	border-radius: 1.25rem;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile__img {
	width: 8rem;
	margin-bottom: 1.875rem;
	border: 2px solid var(--profile-border);
	border-radius: 50%;
}

.profile__name {
	margin-bottom: .625rem;
}

.profile__role {
	color: var(--text-color);
	font-size: .8125rem;
	font-weight: 300;
}

.socialmedias {
	padding: 2rem 2.5rem;
	background-color: var(--bg-cards);
	border-radius: 1.25rem;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.socialmedias__list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.socialmedia__item a {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	color: var(--text-color);
	font-size: .8125rem;
	font-weight: 600;
	text-decoration: none;
}

.tech {
	padding: 2rem 1.25rem;
	background-color: var(--bg-cards);
	border-radius: 1.25rem;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tech__title {
	margin-bottom: 1.25rem;
}

.tech__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.tech__item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .625rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 28%;
	height: 1.5rem;
	background-color: var(--bg-techs);
	border-radius: .75rem;
}

.experience,
.education {
	padding: 2rem 1.25rem;
	background-color: var(--bg-cards);
	border-radius: 1.25rem;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.experience__title,
.education__title {
	margin-bottom: 1.25rem;
}

.experience__list,
.education__list {
	display: flex;
	flex-direction: column;
	color: var(--text-color);
	gap: 1rem;
	margin-left: 2.5rem;
	list-style-type: disc;
}

.experience__item p,
.education__item p {
	line-height: 1rem;
}

.experience__company,
.education__company {
	font-size: .875rem;
	font-weight: 700;
}

.experience__date,
.education__date {
	font-size: .75rem;
	font-weight: 300;
}

.experience__type,
.education__course {
	font-size: .75rem;
	font-weight: 600;
}